
.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 34px;
    list-style: none;
}
.header__burger{
    width: 50px;
    display: none;
}
.header__item{
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120px;
    text-transform: uppercase;  
}
.header__icons{
    display: flex;
    align-items: center;
    gap: 13px;
}

@media(max-width:1300px){
    .container{
        padding: 0 15px;
    }
}

@media(max-width:750px){
    .header__list{
        display: none;
    }
    .header__icons{
        display: none;
    }
    .header__burger{
        display: block;
    }
}