.save__title{
    font-family: 'Readex Pro';
font-weight: 400;
font-size: 42px;
line-height: 125%;
text-align: center;
color: #000;
}
.save__description{
    font-family: 'Readex Pro';
font-weight: 400;
font-size: 13px;
line-height: 129%;
color: #000;
}
.save__content{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.save__body{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 31px;
}
.macbook__title{
    font-family: 'Readex Pro';
font-weight: 400;
font-size: 22px;
line-height: 125%;
color: #000;
}
.neque__description{
    font-family: 'Inter';
font-weight: 400;
font-size: 14px;
line-height: 120%;
color: #4b4b4b;
}
.dollar__title{
    font-family: 'Inter';
font-weight: 400;
font-size: 18px;
line-height: 120%;
color: #000;
}
.save__block{
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.save__body{
    justify-content: center;
    align-items: center;
}
@media(max-width:1370px){
    .save__body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

